

@model FundoSantaElena.Models.ProduccionAnimal
@{
IEnumerable<ProduccionAnimal> produccionAnimales = ViewBag.ProduccionAnimales;
}

@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>IndexedDB</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
        crossorigin="anonymous">
</head>

<body>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <div class="card" style="width: 100%;">
                    <div class="card-divider" id="title">
                        Registro Producción
                    </div>
                    <div class="card-section">
                        <form method="post" asp-action="Index">
                        <div>
                           <div>
                                <label>Id Animal</label>
                                <input asp-for="Animal.Id" type="number" placeholder="Ingresa Id Animal">
                            <span asp-validation-for="Animal.Id" class="text-danger"> </span>
                               
                            </div>
                            <div>
                                <label>Nombre</label>
                                <input asp-for="Animal.Nombre" type="text"  placeholder="Ingresa nombre">
                            <span asp-validation-for="Animal.Nombre" class="text-danger"> </span>
                               
                            </div>
                            <div>
                                <label>Hora Ordeño</label>
                                <input asp-for="Fecha" type="text" type="datetime-local" >
                           
                            <span asp-validation-for="Fecha" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Litros</label>
                                <input asp-for="Cantidad" type="number" type="number" placeholder="Ingresa litros">
                            <span asp-validation-for="Cantidad" class="text-danger"> </span>
                           
                            </div>
                            <div>
                            <input style="background-color: #65d1a9;" value="Registrar" type="submit" class="button small"
                                        asp-action="Index" asp-controller="RegistrarProduccion" />
                            </div>

                        </div>
                         </form>
                    </div>
                </div>

            </div>
            <div class="cell small-6">
                <div>
                    <h4>Producción</h4>
                    <label>Nombre Animal</label>
                    <input onkeyup="searchData()" id="searchAnimal" placeholder="Ej:Lola">
                </div>
                <hr>
<table>
                    @if (produccionAnimales.Count()>0)
                    {
                    <thead>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Id)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Animal.Nombre)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Cantidad)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Fecha)</td>
                    </thead>
                    <tbody  id="data">
                        @foreach(var produccion in produccionAnimales)
                        {

                        <tr>
                            <td>@produccion.Id</td>
                            <td>@produccion.Animal.Nombre</td>

                            <td>@produccion.Cantidad</td>
                           <td>@produccion.Fecha</td>
                            <td>
                                <a asp-controller="RegistrarGanado" asp-action="Editar" asp-route-id="@produccion.Id"
                                    class="button alert">Editar</a>
                            </td>
                            <td> <a asp-controller="RegistrarGanado" asp-action="Eliminar" asp-route-id="@produccion.Id"
                                    class="button warning">Eliminar</a>
                            </td>
                        </tr>

                        }


                    </tbody>


                    }
                    else
                    {
                    <tr>
                        <td> No hay datos..</td>
                    </tr>
                    }


                </table>



            </div>

        </div>
    </div>


</body>