@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.VentaProduccion
@{
    IEnumerable<VentaProduccion> ventas = ViewBag.VentaProduccion;
     float stock = ViewBag.Stock;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous">
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <div class="card" style="width: 100%;">
                <div class="card-divider text-white" id="title" style="background-color:#68B2A0;">
                    Registrar Venta de Leche
                </div>
                <div class="card-section">
                    <form method="post">
                        <div>
                            <div>
                                <div>
                                    <label>Fecha de Venta</label>
                                    <input asp-for="Fecha" type="date">

                                    <span asp-validation-for="Fecha" class="text-danger"> </span>
                                </div>
                                <label>Destino de Venta</label>
                                <select asp-for="Destino">
                                    <option class="NombreId">Quesero</option>
                                    <option class="NombreId">Empresa G</option>
                                </select>
                                <span asp-validation-for="Destino" class="text-danger"> </span>

                            </div>
                            <div>

                                <label>Litros de Leche</label>
                                <input asp-for="Cantidad" type="number" value=@stock max="@stock" min=0>

                                <span asp-validation-for="Cantidad" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Costo</label>
                                <input asp-for="Precio" type="number">

                                <span asp-validation-for="Precio" class="text-danger"> </span>
                            </div>
                            <input  id="boton" style="background-color: #65d1a9;" value="Registrar" type="submit" class="button small"
                                   asp-action="Index" asp-controller="RegistrarVenta" />

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="cell small-6">
            <span>Stock de: @stock</span>
            <div>
                <canvas id="grafica" width="400" height="300"></canvas>
            </div>
            <hr>
        </div>

    </div>
    <h4>Ventas</h4>
    <div class="overflow" style="height:180px; overflow-y: scroll;">
        <table>
            @if (ventas.Count() > 0)
            {
                <thead>
                <td>@Html.DisplayNameFor(ventas=>ventas.Id)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Destino)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Cantidad)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Precio)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Fecha)</td>
                </thead>
                <tbody id="data">
                    @foreach (var venta in ventas)
                    {

                        <tr>
                            <td>@venta.Id</td>
                            <td class="IdAnimal">@venta.Destino</td>
                            <td class="Cantidad">@venta.Cantidad Litros</td>
                            <td>$ @venta.Precio</td>
                            <td>@venta.Fecha</td>
                            <td>
                                <a asp-controller="RegistrarVenta" asp-action="Editar" asp-route-id="@venta.Id"
                           class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                <a asp-controller="RegistrarVenta" asp-action="Eliminar" asp-route-id="@venta.Id" 
                           class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                            </td>

                        </tr>

                    }


                </tbody>


            }
            else
            {
                <tr>
                    <td> No hay datos..</td>
                </tr>
            }


        </table>
    </div>
</div>
<script>

    let coleccionEventos = document.getElementsByClassName("NombreEvento");
    let coleccionEventosAnimales=document.getElementsByClassName("IdAnimal");
    let eventos=[];
    let cantidadEventos=[];
    let eventosAnimales=[];

    for(var i=0; i<coleccionEventos.length; i++){

       eventos.push(coleccionEventos[i].innerHTML);

    }
    eventos.push('Quesero');
    eventos.push('Empresa G');
    let contVacuna=0;
    let contPre=0;
    let contEnferm=0;
    for(var i=0; i<coleccionEventosAnimales.length; i++){
      if(coleccionEventosAnimales[i].innerHTML=='Quesero'){
           contVacuna++;
      }
      if(coleccionEventosAnimales[i].innerHTML=='Empresa G'){
           contEnferm++;
      }

      eventosAnimales.push(coleccionEventosAnimales[i].innerHTML);

    }
    cantidadEventos.push(contVacuna);
    cantidadEventos.push(contEnferm);
    cantidadEventos.push(contPre);
    console.log(eventosAnimales);
    let canva = document.getElementById("grafica").getContext("2d");
    var barColors =  ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];
    var grafico = new Chart(canva, {
        type: "pie",
        data: {
            labels: eventos,
            datasets:[
                {
                    label:"Eventos",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:cantidadEventos
                }
            ]


        }
    })
</script>