@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.VentaProduccion
@{
    IEnumerable<VentaProduccion> ventas = ViewBag.VentaProduccion;
     float stock = ViewBag.Stock;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous">
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <div class="card" style="width: 100%;">
                <div class="card-divider text-white" id="title" style="background-color:#68B2A0;">
                    Registrar Venta de Leche
                </div>
                <div class="card-section">
                    <form method="post">
                        <div>
                            <div>
                                <div>
                                    <label>Fecha de Venta</label>
                                    <input asp-for="Fecha" type="datetime-local">

                                    <span asp-validation-for="Fecha" class="text-danger"> </span>
                                </div>
                                <label>Destino de Venta</label>
                                <select asp-for="Destino">
                                    <option class="NombreId">Quesero</option>
                                    <option class="NombreId">Empresa G</option>
                                </select>
                                <span asp-validation-for="Destino" class="text-danger"> </span>

                            </div>
                            <div>

                                <label>Litros de Leche</label>
                                <input asp-for="Cantidad" type="number" value=@stock max="@stock" min=0>

                                <span asp-validation-for="Cantidad" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Costo</label>
                                <input asp-for="Precio" type="number">

                                <span asp-validation-for="Precio" class="text-danger"> </span>
                            </div>
                            <input style="background-color: #65d1a9;" value="Registrar" type="submit" class="button small"
                                   asp-action="Index" asp-controller="RegistrarVenta" />

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="cell small-6">
            <span>Stock de: @stock</span>
            <div>
                <canvas id="grafica" width="400" height="300"></canvas>
            </div>
            <hr>
        </div>

    </div>
    <h4>Ventas</h4>
    <div class="overflow" style="height:180px; overflow-y: scroll;">
        <table>
            @if (ventas.Count() > 0)
            {
                <thead>
                <td>@Html.DisplayNameFor(ventas=>ventas.Id)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Destino)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Cantidad)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Precio)</td>
                <td>@Html.DisplayNameFor(ventas=>ventas.Fecha)</td>
                </thead>
                <tbody id="data">
                    @foreach (var venta in ventas)
                    {

                        <tr>
                            <td>@venta.Id</td>
                            <td class="IdAnimal">@venta.Destino</td>
                            <td class="Cantidad">@venta.Cantidad Litros</td>
                            <td>$ @venta.Precio</td>
                            <td>@venta.Fecha</td>
                            <td>
                                <a asp-controller="RegistrarVenta" asp-action="Editar" asp-route-id="@venta.Id"
                           class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                <a asp-controller="RegistrarVenta" asp-action="Eliminar" asp-route-id="@venta.Id" 
                           class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                            </td>

                        </tr>

                    }


                </tbody>


            }
            else
            {
                <tr>
                    <td> No hay datos..</td>
                </tr>
            }


        </table>
    </div>
</div>
<script>
    let coleccionNombre = document.getElementsByClassName("NombreId");
    let coleccionId = document.getElementsByClassName("IdAnimal");
    let coleccionCantidad = document.getElementsByClassName("Cantidad");
    let ids=[];
    let nombres=[];
    let cantidad=[];
    for(var i=0; i<coleccionId.length; i++){
       ids.push(coleccionId[i].innerHTML)
    }
    for(var i=0; i<coleccionNombre.length; i++){
      nombres.push((nuevo={id:coleccionNombre[i].innerHTML.slice(0,3).replace('.','').replace(' ',''),nombre:coleccionNombre[i].innerHTML.slice(3,).replace('.','').replace(' ','')}));
    }
    for(var i=0; i<coleccionId.length; i++){
       for(var j=0; j<nombres.length; j++){
                console.log(nombres[j].id +" "+ids[i])
                  if(nombres[j].id==ids[i]){
                    ids[i]=nombres[j].nombre;
           break;
           }
       }
    }
    console.log(ids)
    for(var i=0; i<coleccionCantidad.length; i++){
       const cantidades=coleccionCantidad[i].innerHTML.replace('Litros', '');
       cantidad.push(cantidades);
    }


    cantidad.push(0);
    let canva = document.getElementById("grafica").getContext("2d");
    var barColors =  ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];
    var grafico = new Chart(canva, {
        type: "pie",
        data: {
            labels: ids,
            datasets:[
                {
                    label:"Producción Litros",
                    backgroundColor:barColors,
                    borderColor:"rgb(255,255,255)",
                    data:cantidad
                }
            ]


        }
    })
</script>