@{
    IEnumerable<Animal> animales = ViewBag.Animales;
    IEnumerable<ProduccionAnimal> produccionAnimales = ViewBag.ProduccionAnimales;
    IEnumerable<EventoAnimal> eventoAnimales =  ViewBag.EventoAnimal;
}
@model FundoSantaElena.Models.ProduccionAnimal

@{
    ViewData["Title"] = "Venta vs Produccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3><i class='bx bx-bar-chart-square'></i> Reporte Producción vs Estado Animal</h3>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button style="background-color:#f8f8f8" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <a class="link-primary">  <i class='bx bx-filter'></i> Filtros</a>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form method="post" id="filtro">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Animal</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="Fecha" onchange="enviarFormulario()" required name="Fecha" type="date">
                                        <label for="Fecha">Fecha</label>


                                    </div>

                                <td>
                                    <div class="form-floating">
                                        <select class="form-select" id="IdAnimal" onchange="enviarFormulario()" name="IdAnimal">
                                            <option class="NombreId" value="0">Ninguno</option>
                                                @foreach (var animal in animales)
                                                {

                                                <option class="NombreId" value="@animal.Id">@animal.Nombre</option>

                                                }
                                        </select>
                                        <label for="IdAnimal">Animal</label>
                                        <span asp-validation-for="IdAnimal" class="text-danger"> </span>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </form>


            </div>
        </div>
    </div>


</div>

<script>
        function tomarFecha(){

              let e = new Date()
              
              let valor= document.getElementById("fechaFiltro").value;
              let fechaActual=e.getFullYear() +"-"+ (e.getMonth()+1) +"-"+ e.getDate();

              if(valor=='semana'){
              e.setDate(e.getDate()-7)
              }
              else if(valor=='mes'){
                e.setMonth(e.getMonth() - 1);

              } else if(valor=='anio'){
              e.setMonth(e.getMonth() - 12)
              }
              let fechaRango=e.getFullYear() +"-"+ (e.getMonth()+1) +"-"+ e.getDate();
              console.log(parseInt(e.getMonth()+1))
             if(parseInt(e.getMonth()+1) <10){
                  
                  fechaRango=e.getFullYear() +"-0"+ (e.getMonth()+1) +"-"+ e.getDate();
              }
               
             if(parseInt(e.getDate()) <10){
                  
                  fechaRango=e.getFullYear() +"-"+ (e.getMonth()+1) +"-0"+ e.getDate();
              }
         
                            if(valor=='hoy'){
              document.getElementById("Fecha").value =fechaActual;
              document.getElementById("filtro").submit();
              }else{console.log(fechaRango)
           document.getElementById("Fecha").type ='text';
             document.getElementById("Fecha").value =fechaRango+"/"+fechaActual ;
            document.getElementById("filtro").submit();}
              
           
        }
        function enviarFormulario(){
            document.getElementById("filtro").submit();
        }


</script>


<div class="container">
     <div style="height:10px;width:100%"></div>
    <div class="row">
       
        <div style="height:10px;width:100%"></div>




    </div>

    <div class="row">
        <div class="col-lg-6" style="">

            <h4>Producción</h4>

            <div class="overflow" style="height:400px; overflow-y: scroll;">
                <table class="table">
                    @if (produccionAnimales.Count() > 0)
                    {
                        <thead>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Id)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.IdAnimal)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Cantidad)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Fecha)</td>
                        </thead>
                        <tbody id="data">
                            @foreach (var produccion in produccionAnimales)
                            {
                                <tr>
                                    <td>@produccion.Id</td>
                                    <td class="IdAnimal">@produccion.IdAnimal</td>
                                    <td class="Cantidad">@produccion.Cantidad Litros</td>
                                    <td>@produccion.Fecha</td>
                                </tr>

                            }


                        </tbody>


                    }
                    else
                    {
                        <tr>
                            <td> No hubo producción ese día</td>
                        </tr>
                    }


                </table>
            </div>



        </div>

        <div class="col-lg-6">
            <h4>Salud Ganado</h4>



            <div class="overflow" style="height:400px; overflow-y: scroll;">
                <table class="table">
                      @if (eventoAnimales.Count() > 0)
            {
                <thead>
                <td>Id</td>
                <td>IdAnimal</td>
                <td>Detalles</td>
                <td>Fecha</td>
                </thead>
                <tbody id="data">
                    @foreach (var eventoAnimal in eventoAnimales)
                    {
                        if (!(eventoAnimal.Detalles == "IA" || eventoAnimal.Detalles == "Monta"))
                        {
                            <tr>
                                <td>@eventoAnimal.Id</td>
                                <td class="IdAnimal">@eventoAnimal.IdAnimal</td>
                                <td class="Cantidad">@eventoAnimal.Detalles</td>
                                <td>@eventoAnimal.Fecha</td>
                                <td>
  

                            </tr>
                        }



                    }


                </tbody>


            }
            else
            {
                <tr>
                    <td> No hay datos..</td>
                </tr>
            }


                </table>
            </div>


        </div>

    </div>

    <div style="height:20px;width:100%"></div>

    <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>


