@model FundoSantaElena.Models.Animal
@{
    IEnumerable<Animal> animales = ViewBag.Animal;

}
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>


    .cardAmp:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }


</style>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <div class="card-header" id="title" style="background-color:#68B2A0; color:white">
                    Registrar Animales
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Index">
                        <div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input class="form-control" asp-for="Nombre" type="text" id="nombre" placeholder="Ingresa nombre">
                                <label for="nombre">Nombre</label>
                                <span asp-validation-for="Nombre" class="text-danger"> </span>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" asp-for="FechaNacimiento" type="date" id="fecha" placeholder="Fecha Nacimiento">
                                <label for="fecha">Fecha de nacimiento</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="sexo" asp-for="Sexo">
                                    <option value="M">Macho</option>
                                    <option value="F">Hembra</option>
                                </select>
                                <label for="sexo">Sexo</label>
                                <span asp-validation-for="Sexo" class="text-danger"> </span>
                            </div>


                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="raza" asp-for="Raza" type="text" placeholder="Ingresa raza">
                                <label for="raza">Ingresa raza</label>
                                <span asp-validation-for="Raza" class="text-danger"> </span>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" asp-for="Foto" id="foto" type="url" placeholder="Ingresa imagen">
                                <label for="foto">Imagen</label>
                                <span asp-validation-for="Foto" class="text-danger"> </span>

                            </div>

                            <div>
                                <input style="background-color: #65d1a9;" class="btn btn-success" id="boton" value="Registrar" type="submit" 
                                       asp-action="Index" asp-controller="RegistrarGanado" />

                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col">
            <div>
                <h4>Animales</h4>

            </div>
            <hr>

            <div class="overflow" style="height:480px;width:480px; overflow-y: scroll;">
                @if (animales.Count() > 0)
                {

                    @foreach (var animal in animales)
                    {
                        <div class="cardAmp" style="width: 18rem;">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="@animal.Foto" class="img-fluid rounded-start">
                                        @if (animal.Sexo == "M")
                                        {
                                            <p class="card-text"><small class="text-muted"><i class='bx bx-male-sign'></i></small></p>

                                        }
                                        else
                                        {
                                            <p class="card-text"><small class="text-muted"><i class='bx bx-female-sign'></i></small></p>

                                        }
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h6 class="card-title" style="margin-bottom: 0px;">@animal.Id.@animal.Nombre <small class="text-muted">@animal.FechaNacimiento</small></h6>

                                            <p class="card-text"><small class="text-muted">@animal.Raza</small></p>

                                            <div>
                                                <a asp-controller="RegistrarGanado" asp-action="Editar" asp-route-id="@animal.Id"
                                           class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                                <a asp-controller="RegistrarGanado" asp-action="Eliminar" asp-route-id="@animal.Id"
                                           class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                }
                else
                {

                    <span> No hay datos..</span>

                }

            </div>



        </div>
    </div>
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />

    }


    }