@model FundoSantaElena.Models.Animal
@{
    IEnumerable<Animal> animales = ViewBag.Animal;

}
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>


    .cardAmp:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    ::-webkit-scrollbar {
        width: 10px;
    }


    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #68B2A0;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #198754;
        }

    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous">

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            <div class="card" style="width: 100%;">
                <div class="card-divider text-white" id="title" style="background-color:#68B2A0;">
                    Registrar Animales
                </div>

                <div class="card-section">
                    <form method="post" asp-action="Index">
                        <div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div>
                                <label>Nombre</label>
                                <input asp-for="Nombre" type="text" id="nombre" placeholder="Ingresa nombre">
                                <span asp-validation-for="Nombre" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Fecha Nacimiento</label>
                                <input asp-for="FechaNacimiento" type="date" id="fecha" placeholder="Fecha Nacimiento">
                                <span asp-validation-for="FechaNacimiento" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Sexo</label>
                                <select id="sexo" asp-for="Sexo">
                                    <option value="M">Macho</option>
                                    <option value="F">Hembra</option>

                                </select>
                                <span asp-validation-for="Sexo" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Raza</label>
                                <input id="raza" asp-for="Raza" type="text" placeholder="Ingresa raza">
                                <span asp-validation-for="Raza" class="text-danger"> </span>
                            </div>
                            <div>
                                <label>Imagen</label>
                                <input asp-for="Foto" id="foto" type="url" placeholder="Ingresa imagen">
                                <span asp-validation-for="Foto" class="text-danger"> </span>
                            </div>
                            <div>
                                <input id="boton" style="background-color: #65d1a9;" value="Registrar" type="submit" class="button small"
                                       asp-action="Index" asp-controller="RegistrarGanado" />

                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="cell small-6">
            <div>
                <h4>Animales</h4>

            </div>
            <hr></hr>

            <div class="overflow" style="height:480px;width:480px; overflow-y: scroll;">
                @if (animales.Count() > 0)
                {

                    @foreach (var animal in animales)
                    {
                        <div class="cardAmp" style="width: 18rem;">
                            <div class="card mb-3" style="max-width: 540px;">

                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="@animal.Foto" class="card-circle" style="padding-top: 12px;">
                                        @if (animal.Sexo == "M")
                                        {
                                            <p class="card-text"><small class="text-muted"><i class='bx bx-male-sign'></i></small></p>

                                        }
                                        else
                                        {
                                            <p class="card-text"><small class="text-muted"><i class='bx bx-female-sign'></i></small></p>

                                        }
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h6 class="card-title" style="margin-bottom: 0px;">@animal.Id.@animal.Nombre <small class="text-muted">@animal.FechaNacimiento</small></h6>

                                            <p class="card-text"><small class="text-muted">@animal.Raza</small></p>

                                            <div>
                                                <a asp-controller="RegistrarGanado" asp-action="Editar" asp-route-id="@animal.Id"
                                           class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                                <a asp-controller="RegistrarGanado" asp-action="Eliminar" asp-route-id="@animal.Id"
                                           class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    }
                }
                else
                {

                    <li> No hay datos..</li>

                }

            </div>







        </div>

    </div>
</div>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />

    }


    }