@model FundoSantaElena.Models.ProduccionAnimal
@{
    IEnumerable<ProduccionAnimal> produccionAnimales = ViewBag.ProduccionAnimales;
    IEnumerable<Animal> animales = ViewBag.Animales;

}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" id="title" style="background-color:#68B2A0; color:white">
                    Registrar Producción

                </div>
                <div class="card-body">
                    <form method="post" asp-action="Index">
                        <div>

                            <div class="form-floating mb-3">
                                <select class="form-select" asp-for="IdAnimal" id="IdAnimal">
                                    @foreach (var animal in animales)
                                    {

                                        <option class="NombreId" value="@animal.Id">@animal.Nombre</option>

                                    }
                                </select>
                                <label for="IdAnimal">Animales</label>

                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Fecha" asp-for="Fecha" type="date">
                                <label for="Fecha">Hora Ordeño</label>
                                <span asp-validation-for="Fecha" class="text-danger"> </span>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="Cantidad" asp-for="Cantidad" type="number" type="number" placeholder="Ingresa litros">
                                <label for="Cantidad">Litros</label>
                                <span asp-validation-for="Cantidad" class="text-danger"> </span>
                            </div>

                            <div>
                                <input id="boton" class="btn btn-success" style="background-color: #65d1a9;" value="Registrar" type="submit"
                                       asp-action="Index" asp-controller="RegistrarProduccion" />
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col">
            
            <div class="cell small-6">
                <div>

                    <canvas id="grafica" width="400" height="300"></canvas>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">

            <h4>Producción</h4>
            <div class="overflow" style="height:280px; overflow-y: scroll;">
                <table class="table table-hover">
                    @if (produccionAnimales.Count() > 0)
                    {
                        <thead>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Id)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.IdAnimal)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Cantidad)</td>
                        <td>@Html.DisplayNameFor(produccionAnimales=>produccionAnimales.Fecha)</td>
                        </thead>
                        <tbody id="data">
                            @foreach (var produccion in produccionAnimales)
                            {

                                <tr>
                                    <td>@produccion.Id</td>
                                    <td class="IdAnimal">@produccion.IdAnimal</td>
                                    <td class="Cantidad">@produccion.Cantidad Litros</td>
                                    <td>@produccion.Fecha</td>
                                    <td>
                                        <a asp-controller="RegistrarProduccion" asp-action="Editar" asp-route-id="@produccion.Id"
                                   class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                        <a asp-controller="RegistrarProduccion" asp-action="Eliminar" asp-route-id="@produccion.Id"
                                   class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                                    </td>

                                </tr>

                            }
                        </tbody>


                    }
                    else
                    {
                        <tr>
                            <td> No hay datos..</td>
                        </tr>
                    }


                </table>
            </div>
       
    </div>
</div>


<script>
    let coleccionNombre = document.getElementsByClassName("NombreId");
    let coleccionId = document.getElementsByClassName("IdAnimal");
    let coleccionCantidad = document.getElementsByClassName("Cantidad");
    let ids=[];
    let nombres=[];
    let cantidad=[];
    for(var i=0; i<coleccionId.length; i++){
       ids.push(coleccionId[i].innerHTML)
    }
    for(var i=0; i<coleccionNombre.length; i++){
      nombres.push((nuevo={id:coleccionNombre[i].innerHTML.slice(0,3).replace('.','').replace(' ',''),nombre:coleccionNombre[i].innerHTML.slice(3,).replace('.','').replace(' ','')}));
    }
    for(var i=0; i<coleccionId.length; i++){
       for(var j=0; j<nombres.length; j++){
                console.log(nombres[j].id +" "+ids[i])
                  if(nombres[j].id==ids[i]){
                    ids[i]=nombres[j].nombre;
           break;
           }
       }
    }
    console.log(ids)
    for(var i=0; i<coleccionCantidad.length; i++){
       const cantidades=coleccionCantidad[i].innerHTML.replace('Litros', '');
       cantidad.push(cantidades);
    }


    cantidad.push(0);
    let canva = document.getElementById("grafica").getContext("2d");
    var barColors =  ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];
    var grafico = new Chart(canva, {
        type: "bar",
        data: {
            labels: ids,
            datasets:[
                {
                    label:"Producción Litros",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:cantidad
                }
            ]


        }
    })
</script>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />

}


}