@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.EventoAnimal
@{
    IEnumerable<Animal> animales = ViewBag.Animales;
    IEnumerable<EventoAnimal> eventoAnimales = ViewBag.EventoAnimal;

}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" id="title" style="background-color:#68B2A0; color:white">
                    Registrar Fertilidad

                </div>
                <div class="card-body">
                    <form method="post">
                        <div>

                            <div class="form-floating mb-3">
                                <select class="form-select" asp-for="IdAnimal" id="IdAnimal">
                                    @foreach (var animal in animales)
                                    {

                                        <option class="NombreId" value="@animal.Id">@animal.Nombre</option>

                                    }
                                </select>
                                <label for="IdAnimal">Animales</label>
                                <span asp-validation-for="IdAnimal" class="text-danger"> </span>


                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" asp-for="Detalles" id="Detalles">
                                    <option class="NombreId" value="IA">Inseminación artifcial</option>
                                    <option class="NombreId" value="Monta">Monta</option>
                                </select>
                                <label for="Detalles">Metodo Fertilización</label>
                                <span asp-validation-for="Detalles" class="text-danger"> </span>
                            </div>



                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="Fecha" asp-for="Fecha" type="date">
                                <label for="Fecha">Fecha Fertilización</label>
                                <span asp-validation-for="Fecha" class="text-danger"> </span>
                            </div>

                        </div>
                        <div>
                            <input id="boton" style="background-color: #65d1a9;" value="Registrar" type="submit" class="btn btn-success"
                                   asp-action="Index" asp-controller="RegistrarCicloFertilidad" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
             <h4>Fertilidad</h4>

        <div class="overflow" style="height:258px; overflow-y: scroll;">
            <table class="table table-hover">
                @if (eventoAnimales.Count() > 0)
                {
                    <thead>
                    <td>@Html.DisplayNameFor(eventoAnimales=>eventoAnimales.IdAnimal)</td>
                    <td>@Html.DisplayNameFor(eventoAnimales=>eventoAnimales.Detalles)</td>
                    <td>@Html.DisplayNameFor(eventoAnimales=>eventoAnimales.Fecha)</td>
                    </thead>
                    <tbody id="data">
                        @foreach (var eventoAnimal in eventoAnimales)
                        {
                            if (eventoAnimal.Detalles == "IA" || eventoAnimal.Detalles == "Monta")
                            {
                                <tr>
                                    <td class="IdAnimal">@eventoAnimal.IdAnimal</td>
                                    <td class="Cantidad">@eventoAnimal.Detalles</td>
                                    <td>@eventoAnimal.Fecha</td>
                                    <td>
                                        <a asp-controller="RegistrarCicloFertilidad" asp-action="Editar" asp-route-id="@eventoAnimal.Id"
                               class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                        <a asp-controller="RegistrarCicloFertilidad" asp-action="Eliminar" asp-route-id="@eventoAnimal.Id"
                               class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                                    </td>

                                </tr>

                            }


                        }


                    </tbody>


                }
                else
                {
                    <tr>
                        <td> No hay datos..</td>
                    </tr>
                }


            </table>
        </div>

        </div>
    </div>
</div>

