@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FundoSantaElena.Models.VentaProduccion
@{
    IEnumerable<VentaProduccion> ventas = ViewBag.VentaProduccion;

    var registrar = ViewBag.Registrar;
}
@if (registrar==true)
{
    <script>
        Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Registrado',
  showConfirmButton: false,
  timer: 1500
})
    </script>

}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" id="title" style="background-color:#68B2A0; color:white">
                    Registrar Venta de Leche
                </div>
                <div class="card-body">

                    <form method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Fecha" type="date" class="form-control" id="Fecha">
                            <label for="Fecha">Fecha de Venta</label>
                            <span asp-validation-for="Fecha" class="text-danger"> </span>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="Destino" id="Destino">
                                <option class="NombreId">Quesero</option>
                                <option class="NombreId">Empresa G</option>
                            </select>
                            <label for="Destino">Destino de Venta</label>
                            <span asp-validation-for="Destino" class="text-danger"> </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Cantidad" type="number"  min=0 id="Cantidad">
                            <label for="Cantidad">Litros de Leche</label>
                            <span asp-validation-for="Cantidad" class="text-danger"> </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Precio" type="number" id="Precio">
                            <label for="Precio">Costo</label>
                            <span asp-validation-for="Precio" class="text-danger"> </span>
                        </div>
                        <div>
                            <input id="boton" class="btn btn-success" style="background-color: #65d1a9;" value="Registrar" type="submit"
                                   asp-action="Index" asp-controller="RegistrarVenta" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="cell small-6">

                <div>
                    <canvas id="grafica" width="400" height="300"></canvas>
                </div>
                <hr>
            </div>

        </div>
    </div>
    <div class="row">

        <h4>Ventas</h4>
        <div class="overflow" style="height:180px; overflow-y: scroll;">
            <table class="table table-hover">
                @if (ventas.Count() > 0)
                {
                    <thead>
                    <td>@Html.DisplayNameFor(ventas=>ventas.Id)</td>
                    <td>@Html.DisplayNameFor(ventas=>ventas.Destino)</td>
                    <td>@Html.DisplayNameFor(ventas=>ventas.Cantidad)</td>
                    <td>@Html.DisplayNameFor(ventas=>ventas.Precio)</td>
                    <td>@Html.DisplayNameFor(ventas=>ventas.Fecha)</td>
                    </thead>
                    <tbody id="data">
                        @foreach (var venta in ventas)
                        {

                            <tr>
                                <td>@venta.Id</td>
                                <td class="IdAnimal">@venta.Destino</td>
                                <td class="Cantidad">@venta.Cantidad Litros</td>
                                <td>$ @venta.Precio</td>
                                <td>@venta.Fecha</td>
                                <td>
                                    <a asp-controller="RegistrarVenta" asp-action="Editar" asp-route-id="@venta.Id"
                               class="btn btn-outline-warning"><i class='bx bx-edit'></i></a>
                                    <a asp-controller="RegistrarVenta" asp-action="Eliminar" asp-route-id="@venta.Id"
                               class="btn btn-outline-danger"><i class='bx bx-x-circle'></i></a>
                                </td>

                            </tr>

                        }


                    </tbody>


                }
                else
                {
                    <tr>
                        <td> No hay datos..</td>
                    </tr>
                }


            </table>
        </div>


    </div>
</div>


<script>

    let coleccionEventos = document.getElementsByClassName("NombreEvento");
    let coleccionEventosAnimales=document.getElementsByClassName("IdAnimal");
    let eventos=[];
    let cantidadEventos=[];
    let eventosAnimales=[];

    for(var i=0; i<coleccionEventos.length; i++){

       eventos.push(coleccionEventos[i].innerHTML);

    }
    eventos.push('Quesero');
    eventos.push('Empresa G');
    let contVacuna=0;
    let contPre=0;
    let contEnferm=0;
    for(var i=0; i<coleccionEventosAnimales.length; i++){
      if(coleccionEventosAnimales[i].innerHTML=='Quesero'){
           contVacuna++;
      }
      if(coleccionEventosAnimales[i].innerHTML=='Empresa G'){
           contEnferm++;
      }

      eventosAnimales.push(coleccionEventosAnimales[i].innerHTML);

    }
    cantidadEventos.push(contVacuna);
    cantidadEventos.push(contEnferm);
    cantidadEventos.push(contPre);
    console.log(eventosAnimales);
    let canva = document.getElementById("grafica").getContext("2d");
    var barColors =  ["#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE","#68B2A0", "#CDE0C9","#E0ECDE"];
    var grafico = new Chart(canva, {
        type: "pie",
        data: {
            labels: eventos,
            datasets:[
                {
                    label:"Eventos",
                    backgroundColor:barColors,
                    borderColor:"rgb(0,255,0)",
                    data:cantidadEventos
                }
            ]


        }
    })
</script>